@model HocVien
@{ 
    ViewBag.Title = "xem thông tin chi tiết";
}

<h2>Thông tin chi tiết học viên</h2>
<p>MÃ học viên: @Model.MaHocVien</p>
<p>Họ và tên: @Model.HoTen</p>
<p>Giới tính: @Model.GioiTinh</p>
<p>Email: @Model.Email</p>
<p>lớp: @Model.Lophoc.TenLop</p>