@model DangKyToKhai
@inject AppDbContext context
@{
    ViewBag.Title = "Đăng ký tờ khai y tế";
   
}

<form asp-controller="Home" asp-action="Dangky" method="post" class=" bg-light rounded container">

    <div style=" text-align: center">
        <h6>TỜ KHAI Y TẾ ĐỐI VỚI NGƯỜI NHẬP CẢNH</h6>
        <p>ĐÂY LÀ TÀI LIỆU QUAN TRỌNG, THÔNG TIN CỦA ANH/CHỊ SẼ GIÚP CƠ QUAN Y TẾ LIÊN LẠC KHI CẦN THIẾT ĐỂ PHÒNG CHỐNG DỊCH BỆNH TRUYỀN NHIỄM</p>
        <strong style=" color:red">Khuyến cáo: Khai báo thông tin sai là vi phạm pháp luật Việt Nam và có thể xử lý hình sự</strong>
    </div><br /><br />

    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for=" CuaKhauId">Cửa khẩu <i style="color:red">(*)</i></label>
        </div>
        <div class=" col-3">
            <select asp-for=" CuaKhauId" asp-items="@(new SelectList(Model.cuakhaus, "CuaKhauId", "TenCuaKhau"))" class=" custom-select">
                <option>-Chọn-</option>
            </select>
            <span asp-validation-for=" CuaKhauId" class=" text-danger"></span>
        </div>
    </div>

    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for=" Hoten">Họ tên (ghi chứ IN HOA) <i style="color:red">(*)</i></label>
        </div>
        <div class=" col-4">
            <input asp-for=" Hoten" class=" form-control text-uppercase" />
            <span asp-validation-for=" Hoten" class=" text-danger"></span>
        </div>
    </div>

    <div class=" row form-group col">
        <div class=" col-8">
            <div class=" row">
                <div style="width: 33.85%">
                    <label asp-for=" Namsinh">Năm sinh<i style="color:red">(*)</i></label>
                </div>
                <div class=" col-auto">
                    <select asp-for=" Namsinh" class=" custom-select">
                        @for (int i = 2020; i > 1900; i--)
                        {
                            if (i == 1990)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                    <span asp-validation-for=" CuaKhauId" class=" text-danger"></span>
                </div>


                <div class="col-auto">
                    <label asp-for=" Gioitinh">Giới tính<i style="color:red">(*)</i></label>
                </div>
                <div class=" col-4">
                    <select asp-for=" Gioitinh" class=" custom-select">
                        <option value="">---Chọn---</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                    <span asp-validation-for=" Gioitinh" class=" text-danger"></span>
                </div>
            </div>
        </div>

        <div class=" col-4 row">
            <div class="col-auto">
                <label asp-for=" Quoctich">Quốc tịch<i style="color:red">(*)</i></label>
            </div>
            <div style=" width :64.2%">
                <select asp-for=" Quoctich" asp-items="@(new SelectList(Model.quocgias, "QuocGiaId", "TenQuocGia"))" class=" custom-select">
                    <option>-Chọn-</option>
                </select>
                <span asp-validation-for=" Quoctich" class=" text-danger"></span>
            </div>
        </div>

    </div>
    <div class=" row form-group">
        <div class=" col-auto">
            <label asp-for=" SoCMND">Số hộ chiếu hoặc giấy thông hành hợp pháp khác<i style="color:red">(*)</i></label>
        </div>
        <div class=" col-4">
            <input asp-for=" SoCMND" class=" form-control" />
            <span asp-validation-for=" SoCMND" class=" text-danger"></span>
        </div>
    </div>

    <div class=" row form-group">
        <div class=" col-auto">
            <label asp-for=" PhuongTienDiLai">Thông tin đi lại<i style="color:red">(*)</i></label>
        </div>
        @*chỗ dễ sai nhất*@
    <div >
        <input type="checkbox" asp-for="PhuongTienDiLai" value="Tàu bay">Bóng đá
        <input type="checkbox" asp-for="PhuongTienDiLai" value="Tàu thuyền">Bơi lội
        <input type="checkbox" asp-for="PhuongTienDiLai" value="Ô tô">Điền kinh
       

        @*<div class="form-check form-check-inline">
            <label class="form-check-label" for="inlineCheckbox1">Tàu bay &nbsp;</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Tàu bay">
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="inlineCheckbox2">Tàu thuyền &nbsp;</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Tàu thuyền">
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="inlineCheckbox3">Ô tô &nbsp;</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Ô tô">
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="inlineCheckbox4">Khác (ghi rõ) &nbsp;</label>
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="koro">
        </div>*@
    </div>
    </div>
    <div class="col row">
        <textarea class="form-control" id="ketquakhac" rows="2"></textarea>
    </div>

    <div class=" row form-group">
        <div class="row col-6">
            <div class="col-5">
                <label asp-for=" SoHieuPhuongTien">Số hiệu phương tiện<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-7">
                <input asp-for=" SoHieuPhuongTien" class=" form-control" />
                <span asp-validation-for=" SoHieuPhuongTien" class=" text-danger"></span>
            </div>
        </div>

        <div class="row col-6">
            <div class=" col-5">
                <label asp-for=" SoGhe">Số ghế<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-7">
                <input asp-for=" SoGhe" class=" form-control" />
                <span asp-validation-for=" SoGhe" class=" text-danger"></span>
            </div>
        </div>
    </div>

    <div class=" row form-group">
        <div class="row col-6">
            <div class="col-5">
                <label>Ngày khởi hành<i style="color:red">(*)</i></label>
            </div>
            <div class=" col">

                <select asp-for=" NgayDi" class=" custom-select">
                    <option value="">Ngày</option>
                    @for (int i = 1; i < 32; i++)
                    {
                        if (i < 10)
                        {
                            <option value="@i">@("0"+i)</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }

                    }
                </select>
            </div>
            <div>

                <select asp-for="ThangDi" class=" custom-select">
                    <option value="">Tháng</option>
                    @for (int i = 1; i < 13; i++)
                    {
                        if (i < 10)
                        {
                            <option value="@i">@("0"+i)</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }

                    }
                </select>
            </div>
            <div class=" col">
                <select asp-for="NamDi" class="custom-select">
                    <option value="">Năm</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>

            </div>
        </div>

        <div class="row col-6">
            <div class=" col-5">
                <label>Ngày nhập cảnh<i style="color:red">(*)</i></label>
            </div>
            <div class=" col">

                <select asp-for=" NgayDen" class=" custom-select">
                    <option value="">Ngày</option>
                    @for (int i = 1; i < 32; i++)
                    {
                        if (i < 10)
                        {
                            <option value="@i">@("0"+i)</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }

                    }
                </select>
            </div>
            <div>

                <select asp-for="ThangDen" class=" custom-select">
                    <option value="">Tháng</option>
                    @for (int i = 1; i < 13; i++)
                    {
                        if (i < 10)
                        {
                            <option value="@i">@("0"+i)</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }

                    }
                </select>
            </div>
            <div class=" col">
                <select asp-for="NamDen" class="custom-select">
                    <option value="">Năm</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>

            </div>
        </div>
    </div>
    <p>Địa điểm khởi hành( tỉnh/ quốc gia)</p>
    <div class=" row form-group">
        <div class="row col-6">
            <div class="col-5">
                <label asp-for=" QuocGiaKhoiHanh">Quốc gia/Vùng lãnh thổ<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-7">
                <select asp-for=" QuocGiaKhoiHanh" asp-items="@(new SelectList(Model.quocgias, "QuocGiaId", "TenQuocGia"))"
                        class="custom-select" onchange="dangky.chonvietnam()">
                    <option>-Chọn-</option>

                </select>
                <span asp-validation-for=" QuocGiaKhoiHanh" class=" text-danger"></span>
            </div>
        </div>

        <div class="row col-6">
            <div class=" col-5">
                <label asp-for=" TinhKhoiHanh">Tỉnh<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-7">
                <div id="khongphaivietnam"> <input asp-for=" TinhKhoiHanh" class=" form-control" /></div>

                <div id="lavietnam">
                    <select asp-for=" TinhKhoiHanh" asp-items="@(new SelectList(Model.tinhthanhs, "TenDayDu", "TenDayDu"))"
                            class="custom-select">
                        <option value="">-Chọn-</option>

                    </select>
                </div>
                <span asp-validation-for=" TinhKhoiHanh" class=" text-danger"></span>
            </div>
        </div>
    </div>

    <p>Địa điểm nơi đến( tỉnh/ quốc gia)</p>
    <div class=" row form-group">
        <div class="row col-6">
            <div class="col-5">
                <label asp-for=" QuocGiaDen">Quốc gia/Vùng lãnh thổ<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-7">
                <select asp-for=" QuocGiaDen" class="custom-select">
                    <option value="433">Việt Nam</option>
                </select>
                <span asp-validation-for=" QuocGiaDen" class=" text-danger"></span>
            </div>
        </div>

        <div class="row col-6">
            <div class=" col-5">
                <label asp-for=" TinhDen">Tỉnh<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-7">
                <select asp-for="TinhDen" asp-items="@(new SelectList(Model.tinhthanhs, "TinhThanhId", "TenDayDu"))" class=" custom-select">
                    <option value="">-Chọn-</option>
                </select>
                <span asp-validation-for=" TinhDen" class=" text-danger"></span>
            </div>
        </div>
    </div>

    <p>Trong vòng 21 ngày qua, Anh/Chị có đến quốc gia/vùng lãnh thổ nào?<i style="color:red">(*)</i></p>

    <div class="col row">
        <textarea asp-for="NoiTungDen" class=" form-control" id="ketquakhac" rows="2"></textarea>
        <span asp-validation-for=" NoiTungDen" class=" text-danger"></span>
    </div>
    <br />
    <p><strong>Địa chỉ liên lạc tại Việt Nam</strong></p>

    <div class=" row form-group">
        <div class="col-4">
            <div>
                <label asp-for=" TinhThanhId">Tỉnh thành<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-">
                <select asp-for=" TinhThanhId" asp-items="@(new SelectList(Model.tinhthanhs, "TinhThanhId", "TenDayDu"))"
                        class="custom-select" onchange="dangky.thaydoitinhthanh(this.value)">
                    <option value="">-Chọn-</option>

                </select>
                <span asp-validation-for=" TinhThanhId" class=" text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div>
                <label asp-for=" QuanHuyenId">Quận/Huyện<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-">
                <select asp-for=" QuanHuyenId" class="custom-select" onchange="dangky.thaydoiquanhuyen(this.value)">
                    <option>-Chọn-</option>
                </select>
                <span asp-validation-for=" QuanHuyenId" class=" text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div>
                <label asp-for=" PhuongXaId">Phường/Xã<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-">
                <select asp-for=" PhuongXaId" class="custom-select">
                </select>
                <span asp-validation-for=" PhuongXaId" class=" text-danger"></span>
            </div>
        </div>
    </div>
    <p>Địa chỉ nơi ở tại Việt Nam<i style="color:red">(*)</i> </p>
    <div> <input class="form-control" asp-for="SoNha" /></div><br />
    <p style="font-size:13px"><i>Số điện thoại bạn sẽ sử dụng tại Việt Nam (Là số Roaming hoặc số Việt Nam)</i></p>

    <div class=" row form-group">
        <div class="row col-6">
            <div class="col-5">
                <label asp-for=" SoDienThoai">Điện thoại<i style="color:red">(*)</i></label>
            </div>
            <div class=" col-7">
                <input type="tel" asp-for=" SoDienThoai" class=" form-control" />
                <span asp-validation-for=" SoDienThoai" class=" text-danger"></span>
            </div>
        </div>

        <div class="row col-6">
            <div class=" col-5">
                <label asp-for=" Email">Email</label>
            </div>
            <div class=" col-7">
                <input asp-for=" Email" class=" form-control" />
                <span asp-validation-for=" Email" class=" text-danger"></span>
            </div>
        </div>
    </div>

    <p>
        <b>
            Trong vòng 21 ngày (tính đến thời điểm làm thủ tục xuất cảnh, nhập cảnh, quá cảnh)
            Anh/Chị có thấy xuất hiện dấu hiệu nào sau đây không?
        </b><i style="color:red">(*)</i>
    </p>

    <div class="tableChoiceData" style=" display:flex">
        <div style=" flex:1">
            <table class=" table table-bordered">
                <tr>
                    <th width="70%">Triệu chứng</th>
                    <th style="text-align:center" width="15%">Có </th>
                    <th style="text-align:center" width="15%">Không</th>
                </tr>
                <tr>
                    <td class="form-check">Sốt<i style="color:red">(*)</i></td>
                    <td style="text-align:center"> <input type="radio" asp-for="Sot" value="@true" /> </td>
                    <td style="text-align:center"> <input type="radio" asp-for="Sot" value="@false" /></td>
                </tr>
                <tr>
                    <td>Ho<i style="color:red">(*)</i></td>
                    <td style="text-align:center"><input type="radio" asp-for="Ho" value="@true" /> </td>
                    <td style="text-align:center"><input type="radio" asp-for="Ho" value="@false" /></td>
                </tr>
                <tr>
                    <td>Khó thở<i style="color:red">(*)</i></td>
                    <td style="text-align:center"><input type="radio" asp-for="KhoTho" value="@true" /> </td>
                    <td style="text-align:center"><input type="radio" asp-for="KhoTho" value="@false" /></td>
                </tr>
                <tr>
                    <td>Đau họng<i style="color:red">(*)</i></td>
                    <td style="text-align:center"><input type="radio" asp-for="DauHong" value="@true" /> </td>
                    <td style="text-align:center"><input type="radio" asp-for="DauHong" value="@false" /></td>
                </tr>
            </table>

        </div>

        <div style=" flex:1">
            <table class=" table table-bordered " width="50%">
                <tr>
                    <th width="70%">Triệu chứng</th>
                    <th style="text-align:center" width="15%">Có </th>
                    <th style="text-align:center" width="15%">Không</th>
                </tr>
                <tr>
                    <td>Nôn/buồn nôn<i style="color:red">(*)</i></td>
                    <td style="text-align:center"><input type="radio" asp-for="BuonNon" value="@true" /> </td>
                    <td style="text-align:center"><input type="radio" asp-for="BuonNon" value="@false" /></td>
                </tr>
                <tr>
                    <td>Tiêu chảy<i style="color:red">(*)</i></td>
                    <td style="text-align:center"><input type="radio" asp-for="TieuChay" value="@true" /> </td>
                    <td style="text-align:center"><input type="radio" asp-for="TieuChay" value="@false" /></td>
                </tr>
                <tr>
                    <td>Xuất huyết ngoài da<i style="color:red">(*)</i></td>
                    <td style="text-align:center"><input type="radio" asp-for="XuatHuyetNgoaiDa" value="@true" /> </td>
                    <td style="text-align:center"><input type="radio" asp-for="XuatHuyetNgoaiDa" value="@false" /></td>
                </tr>
                <tr>
                    <td>Nổi ban ngoài da<i style="color:red">(*)</i></td>
                    <td style="text-align:center"><input type="radio" asp-for="NoiBanNgoaiDa" value="@true" /> </td>
                    <td style="text-align:center"><input type="radio" asp-for="NoiBanNgoaiDa" value="@false" /></td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div>
        <label>Danh sách vắc-xin hoặc sinh phẩm được sử dụng</label>
        <textarea asp-for="DanhSachVacxin" rows="2" class=" form-control"></textarea>
        <span asp-validation-for=" DanhSachVacxin" class=" text-danger"></span>
    </div>
    <br />
    <div>
        <strong>Lịch sử phơi nhiễm: Trong vòng 21 ngày qua, Anh/Chị có<i style="color:red">(*)</i></strong>
        <div>
            <table class=" table table-bordered">
                <tr>
                    <th width="85%"></th>
                    <th style="text-align:center" width="7%">Có</th>
                    <th style="text-align:center" width="8%">Không</th>
                </tr>
                <tr>
                    <td>Đến trang trại chăn nuôi / chợ buôn bán động vật sống / cơ sở giết mổ động vật / tiếp xúc động vật<i style="color:red">(*)</i></td>
                    <td style="text-align:center"><input type="radio" asp-for="TiepXucDongVat" value="@true" /> </td>
                    <td style="text-align:center"><input type="radio" asp-for="TiepXucDongVat" value="@false" /></td>
                </tr>
                <tr>
                    <td>Tiếp xúc gần (&lt;2m) với người mắc bệnh viêm đường hô hấp do nCoV<i style="color:red">(*)</i></td>
                    <td style="text-align:center"><input type="radio" asp-for="TiepXucNguoiBenh" value="@true" /> </td>
                    <td style="text-align:center"><input type="radio" asp-for="TiepXucNguoiBenh" value="@false" /></td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <label>Mã bảo mật<i style="color:red">(*)</i></label>

    <br /><br /><br />
    <label style=" color:red">
        Dữ liệu bạn cung cấp hoàn toàn bảo mật và chỉ phục vụ cho việc phòng chống dịch, thuộc quản lý
        của Ban chỉ đạo quốc gia về Phòng chống dịch Covid-19. Khi bạn nhấn nút "Gửi" là bạn đã hiểu và đồng ý.
    </label>
    <br /><br />
    <div class="d-flex justify-content-center"><button class="btn btn-info " type="submit">GỬI TỜ KHAI</button></div>

</form>
<br />
<footer>
    <div class="d-flex flex-row-reverse bg-primary">
        <p class="text-right text-white">Phần dành cho cán bộ quản lý</p>
    </div>
    <div class="d-flex flex-row-reverse bg-primary">
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = " text-white " })
    </div>
</footer>


@section Scripts{

    <script src="~/js/trangtokhai.js"></script>

}