@model TaiKhoan

@inject AppDbContext context

@{
    ViewBag.Title = "Tạo mới tài khoản";
}

<h1>Đăng ký tài khoản</h1>
<p>
    Nếu bạn đã có tài khoản trên website xin hãy đăng nhập tại <a @*href="/Account/Login"*@
                                                                  style="color:#024b94">đây</a>.
</p>

<form asp-controller="User" asp-action="Create" method="post" class=" mt-4">
    @*<div asp-validation-summary="None" class=" text-danger"></div>*@

    <strong>Thông tin cá nhân</strong><hr />
    <div class=" row form-group">
        <div class="col-sm-2 ">
            <label style="font-weight: bold" asp-for=" HoTen"></label>
        </div>
        <div class=" col-sm-10">
            <input placeholder="Họ và tên" asp-for=" HoTen" class=" form-control" />
            <span asp-validation-for=" HoTen" class=" text-danger"></span>
        </div>
    </div>
    <div class=" row form-group">
        <div class="col-sm-2">
            <label class=" textbold" asp-for=" Email"></label>
        </div>
        <div class=" col-sm-10">
            <input placeholder="E-Mail" asp-for=" Email" class=" form-control" />
            <span asp-validation-for=" Email" class=" text-danger"></span>
        </div>
    </div>
    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for=" SoDienThoai"></label>
        </div>
        <div class=" col-sm-10">
            <input placeholder="Số điện thoại" asp-for=" SoDienThoai" class=" form-control" />
            <span asp-validation-for=" SoDienThoai" class=" text-danger"></span>
        </div>
    </div>

    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for=" MatKhau"></label>
        </div>
        <div class=" col-sm-10">
            <input placeholder="Mật khẩu" asp-for=" MatKhau" class=" form-control" />
            <span asp-validation-for=" MatKhau" class=" text-danger"></span>
        </div>
    </div>

    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for=" XacnhanMatKhau "></label>
        </div>
        <div class=" col-sm-10">
            <input placeholder="Gõ lại mật khẩu bạn đã điền ở trên" asp-for=" XacnhanMatKhau" class=" form-control" />
            <span asp-validation-for=" XacnhanMatKhau" class=" text-danger"></span>
        </div>
    </div>


    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for="TinhTp"></label>
        </div>
        <div class=" col-sm-10">
            <select asp-for=" TinhTp" class=" custom-select">
                <option value="">Chọn tỉnh thành</option>
                @foreach (var item in context.TinhThanh)
                {
                    <option value="@item.MaTinhThanh">@item.TenTinhThanh</option>
                }
               
            </select>
            <span asp-validation-for=" TinhTp" class=" text-danger"></span>
        </div>
    </div>

    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for="QuanHuyen"></label>
        </div>
        <div class=" col-sm-10">
            <select asp-for=" QuanHuyen" class=" custom-select">


                @*nháp đoạn này*@
                @{int a = 0; }
                @foreach (var item in context.TinhThanh)
                {
                    if (item.TenTinhThanh == Model.TinhTp)
                    {
                        <option value="@item.MaTinhThanh">@item.TenTinhThanh</option>
                    }
                    @*<option value="@item.MaTinhThanh">@item.TenTinhThanh</option>*@
                }

                <option value="Select a departement">Select a departement</option>
                <option value="Select">Select</option>
            </select>
            <span asp-validation-for=" QuanHuyen" class=" text-danger"></span>
        </div>
    </div>


    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for="PhuongXa"></label>
        </div>
        <div class=" col-sm-10">
            <select asp-for="PhuongXa" class=" custom-select">
                <option value="Select a departement">Select a departement</option>
                <option value="Select">Select</option>
            </select>
            <span asp-validation-for="PhuongXa" class=" text-danger"></span>
        </div>
    </div>
    <div class=" row form-group">
        <div class="col-sm-2">
            <label asp-for=" Diachi "></label>
        </div>
        <div class=" col-sm-10">
            <input asp-for=" Diachi" class=" form-control" />
            <span asp-validation-for=" Diachi" class=" text-danger"></span>
        </div>
    </div>

    @*hien thi tat ca cac loi*@
    <div asp-validation-summary="None"></div>
    <div class=" row form-group">

        <div class=" col-sm-12">
            <button type="submit" class=" btn btn-primary">Create</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>
        </div>
    </div>

</form>
